<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>rsync</string>
	<key>uuid</key>
	<string>8BC4E836-BD4C-40B9-8474-5BD3B1D86B7E</string>
</dict>
</plist>
